<table id="reading" class="display table table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="text-center">Sensor</th>
      <th class="text-center">Reading</th>
      <th class="text-center">Time Stamp</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @readings.each do |reading| %>
      <tr>
        <td class="text-center"><%= reading.sensor_id %></td>
        <td class="text-center"><%= reading.value %></td>
        <td class="text-center"><%= reading.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
