<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">BloomSense Admin Panel</a>
  </div>

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav in" id="side-menu">
        <li>
          <a href="/">
            <i class="fa fa-dashboard fa-fw"></i>
            Dashboard</a>
        </li>
        <li>
          <a href="/sensors"><i class="fa fa-bar-chart-o fa-fw"></i> Sensors<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse">
            <li>
              <%= link_to 'Manage sensors', sensors_path() %>
            </li>
            <li>
              <%= link_to 'Create new sensor', new_sensor_path() %>
            </li>
          </ul>
        </li>
        <li>
          <a href="/about">
            <i class="fa  fa-info-circle fa-fw"></i>
            About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
